# Supported python runtime environment for this project

ansible-core>=2.19.1
ansible-lint
requests>=2.32.3
molecule>=25.7.0
boto3[crt]
polling # Required for Linode Scenario which uses linode.cloud module
linode_api4>=5.29.0 # Official Python library for Linode API v4
ansible-specdoc>=0.0.19 # Required by linode.cloud modules
