---

collections:
  - name: community.docker
{% if init_collection_source == 'git' %}
  - name: git+{{ __init_collection_repository }}.git
    type: git
    version: v{{ __init_collection_version }}
{% elif init_collection_source == 'galaxy' %}
  - name: {{ __init_collection_namespace }}.{{ __init_collection_name }}
    version: {{ __init_collection_version }}
{% endif %}

