---

- name: Perform cleanup
  hosts: molecule
  gather_facts: false
  tasks:
    - name: Remove platform
      ansible.builtin.include_role:
        name: {{ __init_collection_config.collection_info.namespace }}.{{ __init_collection_config.collection_info.name }}.docker_platform
      vars:
{% raw %}
        docker_platform_name: "{{ inventory_hostname }}"
        docker_platform_state: absent
{% endraw %}

