---

- name: Perform cleanup
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Remove platform
      vars:
        platform_state: absent
      ansible.builtin.include_role:
        name: {{ ansible_collection_name }}.platform

