---
role_name_check: 0
dependency:
  name: galaxy
driver:
  name: default
  options:
    managed: true
    login_cmd_template: 'docker exec -ti {instance} bash'
platforms:
{% for init_platform in init_platforms %}
  - name: {{ init_platform.name }}
    image: {{ init_platform.image }}
    systemd: {{ init_platform.systemd | default(false) }}
    modify_image: {{ init_platform.modify_image | default(false) }}
{% if init_platform.modify_image_buildpath is defined %}
    modify_image_buildpath: {{ init_platform.modify_image_buildpath }}
{% endif %}
    privileged: {{ init_platform.privileged | default(false) }}
{% endfor %}
provisioner:
  name: ansible
  log: True
  playbooks:
    prepare: prepare.yml
    converge: converge.yml
    side_effect: side_effect.yml
    verify: verify.yml
    cleanup: cleanup.yml
  config_options:
    defaults:
      gathering: explicit
{% if __init_monolith %}
      roles_path: {{ init_project_dir }}/roles
      collections_path: {{ init_project_dir }}/collections
      playbook_vars_root: top
{% endif %}
{% if init_ansible_secret_path is truthy %}
      vault_password_file: {{ init_ansible_secret_path }}
{% endif %}
      verbosity: ${ANSIBLE_VERBOSITY:-0}
scenario:
  create_sequence:
    - dependency
    - create
    - prepare
  check_sequence:
    - dependency
    - cleanup
    - destroy
    - create
    - prepare
    - converge
    - check
    - destroy
  converge_sequence:
    - dependency
    - create
    - prepare
    - converge
  destroy_sequence:
    - dependency
    - cleanup
    - destroy
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - idempotence
    - side_effect
    - verify
    - cleanup
    - destroy
verifier:
  name: ansible
  enabled: true

