---
# defaults file for prepare_controller

# The filesystem location of the project being tested by this Molecule configuration
#  - default value assumes that your Molecule project is located at <project dir>/extensions/molecule/<scenario>
prepare_controller_project_dir: "{{ molecule_scenario_directory.split('/')[:-3] | join('/') }}"

# The working directory to which the current project should be linked
#  - used for running tests against roles that are not located in the default system locations
#    IE: within a git project directory or monorepo
prepare_controller_role_dir: "{{ molecule_ephemeral_directory }}/roles"

# Type of Ansible project which will be tested by this Molecule deployment
prepare_controller_project_type: role

