---
# Add a host to the Molecule inventory

- name: Load existing instance configuration
  when: __platform_run_count | int > 1
  block:
    - name: Load existing instance configuration file
      ansible.builtin.slurp:
        src: "{{ platform_molecule_ephemeral_directory }}/instance_config.yml"
      register: __platform_current_instance_config_b64
      ignore_errors: true

    - name: Decode instance configuration data
      ansible.builtin.set_fact:
        __platform_current_instance_config: "{{ __platform_current_instance_config_b64.content | default('') | b64decode | from_yaml }}"

- name: Generate new instance configuration
  block:
    - name: Generate {{ platform_name }} instance configuration (Docker)
      when: platform_type == 'docker'
      ansible.builtin.set_fact:
        __platform_new_instance_config: "{{ {
          'instance': platform_name,
          'connection': 'docker'
          } }}"
        __platform_ansible_connection: "community.docker.docker"

    - name: Generate {{ platform_name }} instance configuration (EC2)
      when: platform_type == 'ec2'
      ansible.builtin.set_fact:
        # NOTE: This depends on the ec2_platform_instance_config being set by the ec2_platform role
        __platform_new_instance_config: "{{ {
          'instance': platform_name,
          'address': ec2_platform_instance_config.address,
          'user': ec2_platform_instance_config.user,
          'port': ec2_platform_instance_config.port,
          'identity_file': ec2_platform_instance_config.identity_file,
          'instance_ids': ec2_platform_instance_config.instance_ids
          } }}"
        __platform_ansible_connection: "ssh"

    - name: Instance configuration {{ platform_name }} is valid
      ansible.builtin.assert:
        that:
          - __platform_new_instance_config is defined
          - __platform_new_instance_config.instance is string
        fail_msg: "Instance configuration for {{ platform_name }} failed! Check the platform configuration."
        success_msg: "Instance configuration for {{ platform_name }} is defined"

    - name: Instance name matching this already exists in configuration
      when: platform_name in (__platform_current_instance_config | default({})).keys()
      block:
        - name: Mark config update as unneeded
          ansible.builtin.set_fact:
            __platform_instance_config_update_needed: false

        - name: Existing configuration does not match desired
          when: __platform_new_instance_config != __platform_current_instance_config |
            selectattr('instance', 'equalto', platform_name) | list | first)
          block:
            - name: Remove existing {{ platform_name }} configuration (does not match)
              ansible.builtin.set_fact:
                __platform_current_instance_config: "{{
                  __platform_current_instance_config | rejectattr('instance', 'equalto', platform_name) | list }}"
                __platform_instance_config_update_needed: true

- name: Write {{ platform_name }} instance config file
  when: __platform_instance_config_update_needed
  vars:
    __platform_instance_config: "{{ __platform_current_instance_config | default([]) + [__platform_new_instance_config] }}"
  ansible.builtin.copy:
    content: "{{ __platform_instance_config | to_yaml }}"
    dest: "{{ platform_molecule_ephemeral_directory }}/instance_config.yml"
    mode: "0600"

- name: Load existing molecule inventory
  when: __platform_run_count | int > 1
  block:
    - name: Load existing molecule inventory file
      ansible.builtin.slurp:
        src: "{{ platform_molecule_ephemeral_directory }}/inventory/molecule_inventory.yml"
      register: __platform_current_molecule_inventory_b64
      ignore_errors: true

    - name: Decode instance configuration data
      ansible.builtin.set_fact:
        __platform_current_molecule_inventory: "{{ __platform_current_molecule_inventory_b64.content | default({}) | b64decode | from_yaml }}"

- name: Add {{ platform_name }} to molecule_inventory
  vars:
    __platform_inventory_partial_hostvars: "{{ {
      'ansible_connection': __platform_ansible_connection,
      } | combine(platform_molecule_cfg.hostvars, recursive=true) }}"
    __platform_inventory_partial_yaml: |
      all:
        children:
          molecule:
            hosts:
              "{{ platform_name }}": {{ __platform_inventory_partial_hostvars }}
  ansible.builtin.set_fact:
    __platform_molecule_inventory: >
      {{ __platform_current_molecule_inventory | from_yaml | default({}) | combine(__platform_inventory_partial_yaml | from_yaml, recursive=true) }}

- name: Write {{ platform_name }} to molecule inventory file
  ansible.builtin.copy:
    content: |
      {{ __platform_molecule_inventory | to_yaml }}
    dest: "{{ platform_molecule_ephemeral_directory }}/inventory/molecule_inventory.yml"
    mode: "0600"

- name: Force inventory refresh
  ansible.builtin.meta: refresh_inventory

- name: Fail if molecule group is missing
  ansible.builtin.assert:
    that: "'molecule' in groups"
    fail_msg: |
      molecule group was not found inside inventory groups: {{ groups }}


