---
# vars file for init

# Assume that we are not operating in a monolith to start
__init_monolith: false

# The project types supported by this role
__init_supported_project_types:
  - collection
  - role
  - monolith

# The platform types supported by this role
__init_supported_platform_types:
  - docker
  - ec2

# The platforms to be configured by this role
__init_runtime_platforms: >-
   {%- set __init_platforms = [] -%}
   {%- for __init_platform in init_platforms -%}
      {%- set _ = __init_platforms.append(__init_platform | combine(init_platform_defaults)) -%}
   {%- endfor -%}
   {%- if __init_platforms | length == 0 -%}
      {%- set __init_platforms = [init_platform_defaults] -%}
   {%- endif -%}
   {{ __init_platforms }}

