---
# tasks file for init

- name: Autodetect repository type
  ansible.builtin.include_tasks: "{{ role_path }}/tasks/auto.yml"
  when: init_project_type == 'auto'

- name: Deploy molecule configuration
  ansible.builtin.template:
    src: "{{ role_path }}/templates/molecule.yml.j2"
    dest: "{{ init_scenario_dir }}/molecule.yml"
    mode: 0644
    backup: "{{ init_file_backup }}"

- name: Deploy template
  ansible.builtin.template:
    src: "{{ role_path }}/templates/{{ __init_item }}.j2"
    dest: "{{ init_scenario_dir }}/{{ __init_item }}"
    mode: 0644
    backup: "{{ init_file_backup }}"
  loop:
    - collections.yml
    - requirements.yml
    - prepare.yml
  loop_control:
    loop_var: __init_item

- name: Deploy file
  ansible.builtin.copy:
    src: "{{ role_path }}/files/{{ __init_item }}"
    dest: "{{ init_scenario_dir }}/{{ __init_item }}"
    mode: 0644
    backup: "{{ init_file_backup }}"
  loop:
    - create.yml
    - converge.yml
    - side_effect.yml
    - verify.yml
    - cleanup.yml
    - destroy.yml
  loop_control:
    loop_var: __init_item

