---

name: Deploy Collection

on: {}
#  release:
#    types:
#      - created

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: |
      github.event.release.prerelase == false
    steps:
      - uses: actions/checkout@v4

      - name: Build and Deploy Collection
        uses: artis3n/ansible_galaxy_collection@v2
        with:
          api_key: '${{ secrets.GALAXY_API_KEY }}'

